@using Service.ViewModels.Brand
@model IEnumerable<BrandVM>

<section class="filter-section">
    <h3 class="filter-title">Filter By Brands</h3>
    <hr class="filter-line">

    <ul class="brand-list">
        @foreach (var brand in Model)
        {
            <li data-brand="2" class="filter-brand">
                <a asp-controller="Shop"
                   asp-action="Index"
                   asp-route-brandId="@brand.Id">
                    @brand.Name
                </a>
                <span>(@brand.Products.Count())</span>
            </li>
        }
    </ul>
</section>

<style>
    .brand-list li span {
        color: inherit;
    }
    .brand-list li a {
        color: inherit;
        text-decoration: none;
        display: inline-block;
    }

        .brand-list li a:hover {
            color: #b02a37;
        }

    .brand-list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>

