<section class="filter-section">
    <h3 class="filter-title">Filter By Brands</h3>
    <hr class="filter-line">

    <ul class="brand-list">
        <li>Alcohol <span>(2)</span></li>
        <li>Bourboh <span>(1)</span></li>
        <li>Cocktail bar <span>(1)</span></li>
        <li>Cocktails <span>(1)</span></li>
        <li>Glenfiddich <span>(1)</span></li>
        <li>Patron <span>(1)</span></li>
        <li>Vodka <span>(1)</span></li>
        <li>Wineclub <span>(1)</span></li>
    </ul>
</section>

