<section class="best-banner-box">
    <h3 class="sidebar-title">Banner</h3>
    <hr class="sidebar-line">
    <div class="banner-content">
        <h3>READY TO DRINK</h3>
        <h2>Organic Wine</h2>
        <p class="from">From to</p>
        <p class="price">$69.99</p>
    </div>
    <img src="./assets/img/Banner2-1.jpg" alt="">
</section>