@using Service.DTOs.Category
@model IEnumerable<CategoryVM>

<section id="categories">
    <h2>Product Category</h2>
    <p class="subtitle">
        Explore Our Amazing Selection | <a href="#">View All <i class="fa-solid fa-arrow-right"></i></a>
    </p>

    <div class="category-container">
        @foreach(var category in Model)
        {
            <div class="category-card @category.Name.ToLower()">
                <div class="category-bg"></div>
                <div class="category-img">
                    <img src="~/admin/uploads/categories/@category.Image" alt="">
                </div>
                <div class="category-text">
                    <h3>@category.Name</h3>
                    <p>@category.Products.Count() products</p>
                </div>
            </div>
        }
    </div>
</section>

