
.cart-sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background: #fff;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
    z-index: 9999;
    padding: 20px;
}

    .cart-sidebar.active {
        right: 0;
    }

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.close-btn {
    cursor: pointer;
}

.cart-body {
    padding: 40px 10px;
    text-align: center;
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

    .cart-overlay.active {
        display: block;
    }

#cartIcon {
    cursor: pointer;
}
