* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 40px;
}

.nav-left {
    margin-left: -40px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.red-box {
    width: 150px;
    height: 80px;
    background-color: rgb(185, 9, 9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-logo {
    height: 45px;
    object-fit: contain;
}

.sidebar-icon i {
    font-size: 22px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: red;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.search-icon i,
.icons i {
    font-size: 20px;
    cursor: pointer;
}

.auth a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.icons-nav {
    display: flex;
    gap: 15px;
}

.icons-nav i{
    color: #000;
}

section:nth-child(even) {
    background-color: #fff;
}


.cart-sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background: #fff;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
    z-index: 9999;
    padding: 20px;
}

.cart-sidebar.active {
    right: 0;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.close-btn {
    cursor: pointer;
}

.cart-body {
    padding: 40px 10px;
    text-align: center;
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.cart-overlay.active {
    display: block;
}

#cartIcon {
    cursor: pointer;
}


.sidebar-dropdown {
    position: absolute;
    top: 80px;        
    left: 151px;     
    width: 260px;
    height: 500px;
    background: #f8f5ee url("../img/DropdownImg.png") center bottom no-repeat;
    border: 1px solid #ddd;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    padding: 10px 0;
    display: none;
    z-index: 3000;
}

.sidebar-dropdown.active {
    display: block;
    animation: dropdownFade 0.25s ease-out;
}

.sidebar-dropdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-dropdown li a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 18px;
    font-size: 16px;
    text-decoration: none;
    color: #22222284;
    font-weight: 100px;
    transition: 0.2s;
}

.sidebar-dropdown li a:hover {
    color: #4d4c4c;
}

.sidebar-dropdown .icon {
    width: 22px;
    opacity: 0.8;
}

@keyframes dropdownFade {
    from { opacity: 0; transform: translateY(-12px); }
    to   { opacity: 1; transform: translateY(0); }
}


.sidebar-dropdown a {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 12px 20px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.2s;
    font-weight: 600;
}

.sidebar-dropdown a i {
    width: 20px;
    font-size: 18px;
}

/* .sidebar-dropdown a:hover {
    background: #f4f4f4;
} */

/* .sidebar-dropdown a:hover i {
    color: #b40000;
} */


#page-header {
    background: #f8f5ee url("../img/Background3.png") center bottom no-repeat;
    background-size: 100% auto;
    text-align: center;
    padding: 120px 0;
}

.page-header-content h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 15px;
}

.page-header-content .breadcrumb {
    font-size: 16px;
    color: #666;
}

.page-header-content .breadcrumb a {
    color: #666;
    text-decoration: none;
    font-weight: 500;
}

.page-header-content .breadcrumb span {
    margin: 0 5px;
}

.page-header-content .breadcrumb a:hover {
    color: #000;
}

#blog-page {
    padding: 60px 80px;
    background: #fff;
}

.blog-layout {
    display: flex;
    gap: 60px;
}

.blog-left {
    flex: 1;
}



.blog-main-img {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 8px;
    transition: transform 0.35s ease;
}

.blog-main-img:hover {
    transform: scale(1.02);
}

.blog-meta .category {
    color: #b40000;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.blog-title {
    font-size: 28px;
    font-weight: 800;
    margin: 10px 0;
}

.blog-info {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px;
}

.blog-text {
    color: #444;
    font-size: 15px;
    line-height: 1.7;
}

.read-more {
    display: inline-block;
    margin-top: 18px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.read-more i {
    color: #b40000;
    margin-left: 5px;
}



.blog-sidebar {
    width: 300px;
}

.sidebar-box {
    margin-bottom: 40px;
}

.sidebar-box img {
    width: 100%;
}

.sidebar-box h3 {
    font-size: 20px;
    font-weight: 800;
    margin: 12px 0;
}

.about-box p {
    font-size: 15px;
    color: #555;
}

.shop-now {
    text-decoration: none;
    font-weight: 700;
    color: #000;
}

.shop-now i {
    color: #b40000;
}


.search-box {
    display: flex;
    margin-top: 10px;
}

.search-box input {
    width: 100%;
    padding: 12px 14px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-right: none;
}

.search-box button {
    background: #b40000;
    color: #fff;
    border: none;
    width: 55px;
    cursor: pointer;
}


.categories-box .category-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.categories-box li {
    padding: 8px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    color: #333;
}

.categories-box li span {
    color: #777;
}


.tags-section {
    margin-top: 40px;
}

.tags-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    padding: 6px 14px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
    background: #fafafa;
}

.tag:hover {
    background: #b40000;
    color: white;
    border-color: #b40000;
}


.best-banner-box {
    height: 400px;
    width: 319px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 96px;
}

.best-banner-box img {
    width: 100%;
    display: block;
}

.banner-content {
    position: absolute;
    top: 40px;
    left: 30px;
    z-index: 2;
    color: #fff;
    text-align: left;
}

.banner-content h3 {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 10px;
    letter-spacing: 1px;
    margin-top: 51px;
}

.banner-content h2 {
    font-size: 32px;
    font-family: "Brush Script MT", cursive;
    font-weight: 400;
    margin-bottom: 25px;
}

.banner-content .from {
    font-size: 18px;
    margin-bottom: 5px;
}

.banner-content .price {
    font-size: 38px;
    font-weight: 800;
    color: #b40000;
}


.latest-posts {
    margin-top: 40px;
}

.sidebar-title {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 12px;
}

.sidebar-line {
    border: none;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.latest-post-item {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform .2s ease;
}

/* .latest-post-item:hover {
    transform: translateX(5px);
} */

.latest-post-item img {
    width: 80px;
    height: 70px;
    object-fit: cover;
}

.latest-title {
    font-size: 15px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    line-height: 1.3;
}

.latest-title:hover {
    color: #b40000;
}

.latest-date {
    margin-top: 5px;
    font-size: 14px;
    color: #777;
}


.pagination {
    display: flex;
    gap: 10px;
    margin-top: 85px;
    margin-bottom: 60px;
    justify-content: flex-start;

}

.pagination .page {
    width: 45px;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    background: #fff;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.pagination .page:hover {
    background: #000;
    color: #fff;
}

.pagination .page.active {
    background: #000;
    color: #fff;
}

.pagination .next i {
    font-size: 14px;
}



#footer {
    position: relative;
    background-color: #fff;
    color: #000;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.footer-side-image {
    position: absolute;
    right: 80px;
    bottom: 110px;
    width: 240px;
    height: auto;
    opacity: 0.6;
    pointer-events: none;
    z-index: 1;
}

.footer-main,
.footer-bottom {
    position: relative;
    z-index: 5;
}


.footer-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 18px 54px;
}

.footer-top .footer-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-top i {
    font-size: 18px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    padding: 68px 221px;
    position: relative;
}

.footer-cols {
    margin-left: -175px;
    display: flex;
    gap: 60px;
}

.footer-col h4 {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.footer-col ul li a:hover {
    color: #b40000;
}

.footer-offer {
    margin-right: 90px;
    position: relative;
    width: 350px;
}

.footer-offer h3 {
    font-size: 20px;
    font-weight: 700;
}

.footer-offer p {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    max-width: 280px;
}

.footer-offer img {
    position: absolute;
    right: 0;
    top: 20px;
    width: 180px;
    opacity: 0.15;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #ddd;
    padding: 30px 75px;
    margin-left: -36px;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 21px;
}

.footer-left .social {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-left .title {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 0;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons i {
    background: #e5e5e5;
    color: #000;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons i:hover {
    background: #b40000;
    color: #fff;
}

.payments img {
    width: 160px;
    opacity: 0.6;
}

.footer-right {
    text-align: right;
    margin-right: -46px;
}

.footer-right .links a {
    color: #000;
    text-decoration: none;
    margin: 0 5px;
    font-size: 14px;
}

.footer-right .links a:hover {
    color: #b40000;
}

.footer-right p {
    font-size: 14px;
    color: #444;
    margin-top: 10px;
}

.footer-copy {
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
}

.footer-copy p {
    font-size: 14px;
    color: #444;
    margin: 0;
}

.footer-copy span {
    color: #b40000;
    font-weight: 700;
}


@media(max-width:1200px) {

    #shop-page {
        padding: 80px 30px;
    }

    .products-grid {
        gap: 20px;
    }

    .footer-main {
        padding: 50px 120px;
    }
}



@media(max-width:992px) {

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: auto;
        flex-wrap: wrap;
        padding: 10px 15px;
    }

    .nav-left {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .nav-links {
        display: flex !important;
        gap: 12px;
        width: 100%;
        margin-top: 6px;
        justify-content: center;
    }

    .nav-right {
        display: flex;
        align-items: center;
        gap: 18px;
        margin-left: auto;
        white-space: nowrap;
    }

    .sidebar-icon {
        display: block;
    }

    .sidebar-dropdown {
        left: 110px;
    }

    .page-header-content h1 {
        font-size: 42px;
    }


    .shop-layout,
    .blog-layout {
        flex-direction: column;
    }

    .sidebar,
    .blog-sidebar {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }

    .filter-section,
    .best-seller-box {
        width: 48%;
    }

    .best-banner-box {
        width: 100%;
        height: auto;
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .product-card img {
        width: 200px;
        height: 300px;
    }

    .footer-main {
        flex-direction: column;
        align-items: center;
        padding: 50px 40px;
    }

    .footer-cols {
        margin-left: 0;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-col {
        width: 45%;
        margin-bottom: 25px;
    }

    .footer-offer {
        margin: 20px 0;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    .footer-right {
        margin: 30px 0 0 0;
        text-align: center;
    }
}



@media(max-width:768px) {

    .navbar {
        height: auto;
        padding: 0px 10px;
    }

    .nav-left{
        gap: 6px;
    }

    .nav-links {
        font-size: 14px;
        gap: 10px;
    }

    .nav-right {
        gap: 12px;
    }

    .red-box {
        height: 60px;
        margin-left: 30px;
    }

    .red-box img {
        width: 105px;
    }

    #page-header {
        padding: 60px 0;
    }

    .page-header-content h1 {
        font-size: 32px;
    }

    .filter-section,
    .best-seller-box {
        width: 100%;
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-card img {
        width: 160px;
        height: 240px;
    }

    .footer-cols {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-col {
        width: 100%;
    }

    .footer-top {
        flex-wrap: wrap;
        gap: 15px;
    }

    .footer-side-image {
        display: none;
    }
}




@media(max-width:480px) {

    .nav-links {
        font-size: 13px;
        gap: 8px;
    }

    .auth a {
        font-size: 0; 
    }

    .auth a:after {
        content: "Login";
        font-size: 13px;
    }

    .products-grid {
        grid-template-columns: 1fr;
    }

    .product-card img {
        width: 100%;
        height: auto;
    }

    .cart {
        flex-direction: column;
        width: 100%;
    }

    .cart input,
    .cart button {
        width: 100%;
    }

    .footer-bottom {
        padding: 20px 25px;
    }

    .footer-right {
        font-size: 13px;
    }
}
