* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    margin: 0 !important;
}

#checkout-page {
    min-height: 100vh;
    background: #f6f6f6;
    padding: 60px 80px;
}

.checkout-container {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 40px;
    padding-top: 50px;
}


.checkout-form {
    background: #fff;
    padding: 35px;
    border-radius: 10px;
}

    .checkout-form h2 {
        margin-bottom: 25px;
        font-size: 26px;
    }

    .checkout-form label {
        font-weight: 600;
        margin-bottom: 6px;
        display: block;
    }

    .checkout-form input,
    .checkout-form textarea {
        width: 100%;
        padding: 12px 14px;
        border-radius: 6px;
        border: 1px solid #ddd;
        margin-bottom: 18px;
        font-size: 15px;
    }

    .checkout-form textarea {
        height: 90px;
        resize: none;
    }

        .checkout-form input:focus,
        .checkout-form textarea:focus {
            outline: none;
            border-color: #000;
        }



.order-summary {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}

    .order-summary h3 {
        margin-bottom: 20px;
        font-size: 22px;
    }

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

    .summary-item small {
        display: block;
        color: #666;
        margin-top: 4px;
    }

.summary-divider {
    height: 1px;
    background: #eee;
    margin: 20px 0;
}

.summary-total {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
}



.place-order-btn {
    width: 100%;
    padding: 14px;
    background: #000;
    color: #fff;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

    .place-order-btn:hover {
        background: #333;
    }


@media (max-width: 992px) {
    #checkout-page {
        padding: 40px 20px;
    }

    .checkout-container {
        grid-template-columns: 1fr;
    }
}
