* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 40px;
}

.nav-left {
    margin-left: -40px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.red-box {
    width: 150px;
    height: 80px;
    background-color: rgb(185, 9, 9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-logo {
    height: 45px;
    object-fit: contain;
}

.sidebar-icon i {
    font-size: 22px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: red;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.search-icon i,
.icons i {
    font-size: 20px;
    cursor: pointer;
}

.auth a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.icons-nav {
    display: flex;
    gap: 15px;
}

.icons-nav i {
    color: #000;
}

section:nth-child(even) {
    background-color: #fff;
}



.sidebar-dropdown {
    position: absolute;
    top: 80px;
    left: 151px;
    width: 260px;
    height: 500px;
    background: #f8f5ee url("../img/DropdownImg.png") center bottom no-repeat;
    border: 1px solid #ddd;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    padding: 10px 0;
    display: none;
    z-index: 3000;
}

.sidebar-dropdown.active {
    display: block;
    animation: dropdownFade 0.25s ease-out;
}

.sidebar-dropdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-dropdown li a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 18px;
    font-size: 16px;
    text-decoration: none;
    color: #22222284;
    font-weight: 100px;
    transition: 0.2s;
}

.sidebar-dropdown li a:hover {
    color: #4d4c4c;
}

.sidebar-dropdown .icon {
    width: 22px;
    opacity: 0.8;
}

@keyframes dropdownFade {
    from {
        opacity: 0;
        transform: translateY(-12px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.sidebar-dropdown a {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 12px 20px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.2s;
    font-weight: 600;
}

.sidebar-dropdown a i {
    width: 20px;
    font-size: 18px;
}

/* .sidebar-dropdown a:hover {
    background: #f4f4f4;
} */

/* .sidebar-dropdown a:hover i {
    color: #b40000;
} */


#page-header {
    background: #f8f5ee url("../img/Background3.png") center bottom no-repeat;
    background-size: 100% auto;
    text-align: center;
    padding: 120px 0;
}

.page-header-content h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 15px;
}

.page-header-content .breadcrumb {
    font-size: 16px;
    color: #666;
}

.page-header-content .breadcrumb a {
    color: #666;
    text-decoration: none;
    font-weight: 500;
}

.page-header-content .breadcrumb span {
    margin: 0 5px;
}

.page-header-content .breadcrumb a:hover {
    color: #000;
}


.cart-sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background: #fff;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
    z-index: 9999;
    padding: 20px;
}

.cart-sidebar.active {
    right: 0;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

.close-btn {
    cursor: pointer;
}

.cart-body {
    padding: 40px 10px;
    text-align: center;
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.cart-overlay.active {
    display: block;
}

#cartIcon {
    cursor: pointer;
}

.product-section {
    width: 80%;
    margin: 30px auto;
    border: 1px solid #eee;
}

.product-item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.product-item:nth-child(even) {
    background: #f8f8f8;
}

.product-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.product-left img {
    width: 70px;
}

.product-info h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.old-price {
    color: gray;
    text-decoration: line-through;
    font-size: 14px;
}

.new-price {
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-left: 6px;
}

.date {
    font-size: 13px;
    color: #555;
}

.product-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.quantity-box {
    display: flex;
    border: 1px solid black;
}

.quantity-box button {
    background: black;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

.quantity-box span {
    padding: 8px 15px;
}

.btn {
    padding: 12px 25px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.out-of-stock {
    border: 1px dashed #555;
    padding: 8px 20px;
}



#footer {
    position: relative;
    background-color: #fff;
    color: #000;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

.footer-side-image {
    position: absolute;
    right: 80px;
    bottom: 110px;
    width: 240px;
    height: auto;
    opacity: 0.6;
    pointer-events: none;
    z-index: 1;
}

.footer-main,
.footer-bottom {
    position: relative;
    z-index: 5;
}



.footer-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 18px 54px;
}

.footer-top .footer-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-top i {
    font-size: 18px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    padding: 68px 221px;
    position: relative;
}

.footer-cols {
    margin-left: -175px;
    display: flex;
    gap: 60px;
}

.footer-col h4 {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.footer-col ul li a:hover {
    color: #b40000;
}

.footer-offer {
    margin-right: 90px;
    position: relative;
    width: 350px;
}

.footer-offer h3 {
    font-size: 20px;
    font-weight: 700;
}

.footer-offer p {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    max-width: 280px;
}

.footer-offer img {
    position: absolute;
    right: 0;
    top: 20px;
    width: 180px;
    opacity: 0.15;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #ddd;
    padding: 30px 75px;
    margin-left: -36px;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 21px;
}

.footer-left .social {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-left .title {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 0;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons i {
    background: #e5e5e5;
    color: #000;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons i:hover {
    background: #b40000;
    color: #fff;
}

.payments img {
    width: 160px;
    opacity: 0.6;
}

.footer-right {
    text-align: right;
    margin-right: -46px;
}

.footer-right .links a {
    color: #000;
    text-decoration: none;
    margin: 0 5px;
    font-size: 14px;
}

.footer-right .links a:hover {
    color: #b40000;
}

.footer-right p {
    font-size: 14px;
    color: #444;
    margin-top: 10px;
}

.footer-copy {
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
}

.footer-copy p {
    font-size: 14px;
    color: #444;
    margin: 0;
}

.footer-copy span {
    color: #b40000;
    font-weight: 700;
}