<footer id="footer">
    <div class="footer-top">
        <div class="footer-info">
            <i class="fa-solid fa-truck"></i>
            <p>Same-day local delivery</p>
        </div>
        <div class="footer-info">
            <i class="fa-solid fa-paper-plane"></i>
            <p>Ground shipping directly to you</p>
        </div>
        <div class="footer-info">
            <i class="fa-solid fa-store"></i>
            <p>Free in-store pickup</p>
        </div>
        <div class="footer-info">
            <i class="fa-solid fa-phone"></i>
            <p>24/7 customer support</p>
        </div>
    </div>

    <div class="footer-main">
        <div class="footer-cols">
            <div class="footer-col">
                <h4>CUSTOMER SERVICE</h4>
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">My account</a></li>
                    <li><a href="#">Track my order</a></li>
                    <li><a href="#">Return policy</a></li>
                    <li><a href="#">Gift cards</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>ABOUT US</h4>
                <ul>
                    <li><a href="#">Company info</a></li>
                    <li><a href="#">Press Releases</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">Investor relations</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>QUICK LINKS</h4>
                <ul>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Become a reseller</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Terms of service</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>CATEGORIES</h4>
                <ul>
                    <li><a href="#">Brandy</a></li>
                    <li><a href="#">White Wine</a></li>
                    <li><a href="#">Champagne</a></li>
                    <li><a href="#">Vodka</a></li>
                    <li><a href="#">Tequila</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-offer">
            <h3>Get exclusive offers & rewards</h3>
            <p>
                Sign up for our members portal to receive some exclusive offer & rewards. It’s easy and free!
            </p>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-left">
            <div class="social">
                <span class="title">STAY CONNECT</span>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>

            <div class="payments">
                <span class="title">WE ACCEPT</span>
                <img src="./assets/img/PaymentLogo.png" alt="">
            </div>
        </div>

        <div class="footer-right">
            <div class="links">
                <a href="#">Careers</a> |
                <a href="#">About Us</a> |
                <a href="#">Affiliates</a> |
                <a href="#">Privacy Settings</a> |
                <a href="#">Help</a> |
                <a href="#">Site map</a>
            </div>
        </div>
    </div>
    <div class="footer-copy">
        <p>Copyright © 2022 <span>Liquory.</span> All rights reserved.</p>
    </div>
    <img src="./assets/img/Glass.png" alt="Footer Decoration" class="footer-side-image">
</footer>