<div class="products-area">

    <div class="products-header">
        <div class="sorting-left">
            <i class="fa-solid fa-table-cells-large"></i>
            <i class="fa-solid fa-list"></i>
            <span>Default sorting <i class="fa-solid fa-chevron-down"></i></span>
        </div>

        <div class="results-right">
            Showing 1-12 of 27 results
        </div>
    </div>

    <div class="products-grid">

        <div class="product-card">

            <div class="product-img">
                <img src="./assets/img/JackDaniels.jpg" alt="">

                <div class="product-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>

            <h4>Lightweight Concrete Clock</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$954.37</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

            <div class="cart">
                <input type="number" value="1">
                <button>ADD TO CART</button>
            </div>
        </div>

        <div class="product-card">

            <div class="product-img">
                <img src="./assets/img/FeverTree.jpg" alt="">

                <div class="product-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>

            <h4>Lightweight Concrete Clock</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$954.37</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

            <div class="cart">
                <input type="number" value="1">
                <button>ADD TO CART</button>
            </div>
        </div>

        <div class="product-card">

            <div class="product-img">
                <img src="./assets/img/BushmillsOriginal.jpg" alt="">

                <div class="product-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>

            <h4>Lightweight Concrete Clock</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$954.37</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

            <div class="cart">
                <input type="number" value="1">
                <button>ADD TO CART</button>
            </div>
        </div>
        <div class="product-card">

            <div class="product-img">
                <img src="./assets/img/Prosecco.jpg" alt="">

                <div class="product-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>

            <h4>Lightweight Concrete Clock</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$954.37</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

            <div class="cart">
                <input type="number" value="1">
                <button>ADD TO CART</button>
            </div>
        </div>
        <div class="product-card">

            <div class="product-img">
                <img src="./assets/img/JackDanielsMain.jpg" alt="">

                <div class="product-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>

            <h4>Lightweight Concrete Clock</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$954.37</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

            <div class="cart">
                <input type="number" value="1">
                <button>ADD TO CART</button>
            </div>
        </div>
        <div class="product-card">

            <div class="product-img">
                <img src="./assets/img/TheWhiskyBarrel.jpg" alt="">

                <div class="product-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>

            <h4>Lightweight Concrete Clock</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$954.37</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

            <div class="cart">
                <input type="number" value="1">
                <button>ADD TO CART</button>
            </div>
        </div>

        @*     </div>

        <div class="products-grid"> *@

        <div class="product-card">

            <div class="product-img">
                <img src="./assets/img/Bushmills.jpg" alt="">

                <div class="product-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>

            <h4>Lightweight Concrete Clock</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$954.37</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

            <div class="cart">
                <input type="number" value="1">
                <button>ADD TO CART</button>
            </div>
        </div>

        <div class="product-card">

            <div class="product-img">
                <img src="./assets/img/JackDanielsKind.jpg" alt="">

                <div class="product-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>

            <h4>Lightweight Concrete Clock</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$954.37</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

            <div class="cart">
                <input type="number" value="1">
                <button>ADD TO CART</button>
            </div>
        </div>

        <div class="product-card">

            <div class="product-img">
                <img src="./assets/img/MonkeyShoulder.jpg" alt="">

                <div class="product-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>

            <h4>Lightweight Concrete Clock</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$954.37</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

            <div class="cart">
                <input type="number" value="1">
                <button>ADD TO CART</button>
            </div>
        </div>

        @*  </div>

        <div class="products-grid"> *@

        <div class="product-card">

            <div class="product-img">
                <img src="./assets/img/TullamoreDew.jpg" alt="">

                <div class="product-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>

            <h4>Lightweight Concrete Clock</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$954.37</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

            <div class="cart">
                <input type="number" value="1">
                <button>ADD TO CART</button>
            </div>
        </div>

        <div class="product-card">

            <div class="product-img">
                <img src="./assets/img/Whiskey2.jpg" alt="">

                <div class="product-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>

            <h4>Lightweight Concrete Clock</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$954.37</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

            <div class="cart">
                <input type="number" value="1">
                <button>ADD TO CART</button>
            </div>
        </div>

        <div class="product-card">

            <div class="product-img">
                <img src="./assets/img/TheFamousOne.jpg" alt="">

                <div class="product-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>

            <h4>Lightweight Concrete Clock</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$954.37</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

            <div class="cart">
                <input type="number" value="1">
                <button>ADD TO CART</button>
            </div>
        </div>
    </div>



    <div class="pagination">
        <a href="Shop1.html" class="page active">1</a>
        <a href="Shop2.html" class="page">2</a>
        <a href="Shop3.html" page class="page" ">3</a>
        <a href="Shop2.html" class="page next">
            <i class="fa-solid fa-chevron-right"></i>
        </a>
    </div>

</div>

