@await Component.InvokeAsync("ShopHeader")

<section id="shop-page">
    <div class="shop-layout">
        <aside class="sidebar">
            @await Component.InvokeAsync("FilterByCategory")


            @await Component.InvokeAsync("FilterByPrice")


            @await Component.InvokeAsync("FilterByBrand")


            @await Component.InvokeAsync("FilterByTag")


            @await Component.InvokeAsync("ShopBestSellers")


            @await Component.InvokeAsync("ShopBestBanner")

        </aside>

        @await Component.InvokeAsync("ShopProducts")

    </div>
</section>

@section scripts {
    <script src="~/assets/js/Shop1.js"></script>
}