<section id="page-header">
    <div class="page-header-content">
        <h1>Shop</h1>

        <p class="breadcrumb">
            <a href="#">Home Page</a> <span>›</span>
            <a href="#">Shop</a> <span>›</span>
            <span>Wine</span>
        </p>
    </div>
</section>




<section id="shop-page">
    <div class="shop-layout">

        <aside class="sidebar">

            <section class="filter-section">
                <h3 class="filter-title">Product Categories</h3>

                <ul class="category-list">
                    <!-- <li>Accessories <span>(3)</span></li> -->
                    <li>Beer <span>(3)</span></li>
                    <li>Cocktail <span>(6)</span></li>
                    <li>Cognac <span>(3)</span></li>
                    <!-- <li>Deals <span>(7)</span></li> -->
                    <!-- <li>Others Drinks <span>(2)</span></li> -->
                    <li>Whiskeys <span>(3)</span></li>
                    <li>Tequila <span>(5)</span></li>
                    <!-- <li>Uncategorized <span>(3)</span></li> -->
                    <li>Wine <span>(9)</span></li>
                </ul>
            </section>



            <section class="filter-section">
                <h3 class="filter-title">Filter By Price</h3>

                <div class="price-filter">
                    <input type="range" min="70" max="960" value="800">

                    <div class="filter-footer">
                        <p class="price-range">Price: $70 — $960</p>
                        <a href="#" class="filter-link">Filter →</a>
                    </div>
                </div>
            </section>



            <section class="filter-section">
                <h3 class="filter-title">Filter By Brands</h3>
                <hr class="filter-line">

                <ul class="brand-list">
                    <li>Alcohol <span>(2)</span></li>
                    <li>Bourboh <span>(1)</span></li>
                    <li>Cocktail bar <span>(1)</span></li>
                    <li>Cocktails <span>(1)</span></li>
                    <li>Glenfiddich <span>(1)</span></li>
                    <li>Patron <span>(1)</span></li>
                    <li>Vodka <span>(1)</span></li>
                    <li>Wineclub <span>(1)</span></li>
                </ul>
            </section>



            <section class="filter-section">
                <h3 class="filter-title">Filter By Tags</h3>
                <hr class="filter-line">

                <div class="tag-box">
                    <span class="tag">Beer</span>
                    <span class="tag">Beverages</span>
                    <span class="tag">Liqueur</span>
                    <span class="tag">Luxury Drinks</span>
                    <span class="tag">Miniatures</span>
                    <span class="tag">Rum</span>
                    <span class="tag">Tequila</span>
                    <span class="tag">Vodka</span>
                    <span class="tag">Whiskey</span>
                </div>
            </section>






            <section class="best-seller-box">
                <h3 class="best-seller-title">Best Seller</h3>
                <hr class="best-line">

                <div class="best-seller-item">
                    <img src="./assets/img/DomaineCarneros.jpg" alt="">
                    <div class="best-info">
                        <h4>Enormous Silk Bottle</h4>
                        <div class="stars">★★★★☆</div>
                        <p class="best-price">$78.90–$102.65</p>
                        <p class="best-stock"><i class="fa-solid fa-circle"></i> In Stock</p>
                    </div>
                </div>

                <div class="best-seller-item">
                    <img src="./assets/img/Prosecco.jpg" alt="">
                    <div class="best-info">
                        <h4>Aerodynamic Linen Bench</h4>
                        <div class="stars">★★★★☆</div>
                        <p class="best-price">$446.29</p>
                        <p class="best-stock"><i class="fa-solid fa-circle"></i> In Stock</p>
                    </div>
                </div>

                <div class="best-seller-item">
                    <img src="./assets/img/RedWine.jpg" alt="">
                    <div class="best-info">
                        <h4>Mediocre Granite Watch</h4>
                        <div class="stars">★★★★☆</div>
                        <p class="best-price">$500.63</p>
                        <p class="best-stock"><i class="fa-solid fa-circle"></i> In Stock</p>
                    </div>
                </div>
            </section>


            <section class="best-banner-box">
                <div class="banner-content">
                    <h3>READY TO DRINK</h3>
                    <h2>Organic Wine</h2>
                    <p class="from">From to</p>
                    <p class="price">$69.99</p>
                </div>

                <img src="./assets/img/Banner2-1.jpg" alt="">
            </section>


        </aside>


        <div class="products-area">

            <div class="products-header">
                <div class="sorting-left">
                    <i class="fa-solid fa-table-cells-large"></i>
                    <i class="fa-solid fa-list"></i>
                    <span>Default sorting <i class="fa-solid fa-chevron-down"></i></span>
                </div>

                <div class="results-right">
                    Showing 1-12 of 27 results
                </div>
            </div>

            <div class="products-grid">

                <div class="product-card">

                    <div class="product-img">
                        <img src="./assets/img/JackDaniels.jpg" alt="">

                        <div class="product-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>

                    <h4>Lightweight Concrete Clock</h4>
                    <div class="stars">★★★★☆</div>
                    <p class="price">$954.37</p>
                    <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

                    <div class="cart">
                        <input type="number" value="1">
                        <button>ADD TO CART</button>
                    </div>
                </div>

                <div class="product-card">

                    <div class="product-img">
                        <img src="./assets/img/FeverTree.jpg" alt="">

                        <div class="product-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>

                    <h4>Lightweight Concrete Clock</h4>
                    <div class="stars">★★★★☆</div>
                    <p class="price">$954.37</p>
                    <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

                    <div class="cart">
                        <input type="number" value="1">
                        <button>ADD TO CART</button>
                    </div>
                </div>

                <div class="product-card">

                    <div class="product-img">
                        <img src="./assets/img/BushmillsOriginal.jpg" alt="">

                        <div class="product-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>

                    <h4>Lightweight Concrete Clock</h4>
                    <div class="stars">★★★★☆</div>
                    <p class="price">$954.37</p>
                    <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

                    <div class="cart">
                        <input type="number" value="1">
                        <button>ADD TO CART</button>
                    </div>
                </div>
                <div class="product-card">

                    <div class="product-img">
                        <img src="./assets/img/Prosecco.jpg" alt="">

                        <div class="product-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>

                    <h4>Lightweight Concrete Clock</h4>
                    <div class="stars">★★★★☆</div>
                    <p class="price">$954.37</p>
                    <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

                    <div class="cart">
                        <input type="number" value="1">
                        <button>ADD TO CART</button>
                    </div>
                </div>
                <div class="product-card">

                    <div class="product-img">
                        <img src="./assets/img/JackDanielsMain.jpg" alt="">

                        <div class="product-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>

                    <h4>Lightweight Concrete Clock</h4>
                    <div class="stars">★★★★☆</div>
                    <p class="price">$954.37</p>
                    <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

                    <div class="cart">
                        <input type="number" value="1">
                        <button>ADD TO CART</button>
                    </div>
                </div>
                <div class="product-card">

                    <div class="product-img">
                        <img src="./assets/img/TheWhiskyBarrel.jpg" alt="">

                        <div class="product-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>

                    <h4>Lightweight Concrete Clock</h4>
                    <div class="stars">★★★★☆</div>
                    <p class="price">$954.37</p>
                    <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

                    <div class="cart">
                        <input type="number" value="1">
                        <button>ADD TO CART</button>
                    </div>
                </div>

            </div>





            <div class="products-grid">

                <div class="product-card">

                    <div class="product-img">
                        <img src="./assets/img/Bushmills.jpg" alt="">

                        <div class="product-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>

                    <h4>Lightweight Concrete Clock</h4>
                    <div class="stars">★★★★☆</div>
                    <p class="price">$954.37</p>
                    <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

                    <div class="cart">
                        <input type="number" value="1">
                        <button>ADD TO CART</button>
                    </div>
                </div>

                <div class="product-card">

                    <div class="product-img">
                        <img src="./assets/img/JackDanielsKind.jpg" alt="">

                        <div class="product-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>

                    <h4>Lightweight Concrete Clock</h4>
                    <div class="stars">★★★★☆</div>
                    <p class="price">$954.37</p>
                    <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

                    <div class="cart">
                        <input type="number" value="1">
                        <button>ADD TO CART</button>
                    </div>
                </div>

                <div class="product-card">

                    <div class="product-img">
                        <img src="./assets/img/MonkeyShoulder.jpg" alt="">

                        <div class="product-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>

                    <h4>Lightweight Concrete Clock</h4>
                    <div class="stars">★★★★☆</div>
                    <p class="price">$954.37</p>
                    <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

                    <div class="cart">
                        <input type="number" value="1">
                        <button>ADD TO CART</button>
                    </div>
                </div>
            </div>





            <div class="products-grid">

                <div class="product-card">

                    <div class="product-img">
                        <img src="./assets/img/TullamoreDew.jpg" alt="">

                        <div class="product-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>

                    <h4>Lightweight Concrete Clock</h4>
                    <div class="stars">★★★★☆</div>
                    <p class="price">$954.37</p>
                    <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

                    <div class="cart">
                        <input type="number" value="1">
                        <button>ADD TO CART</button>
                    </div>
                </div>

                <div class="product-card">

                    <div class="product-img">
                        <img src="./assets/img/Whiskey2.jpg" alt="">

                        <div class="product-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>

                    <h4>Lightweight Concrete Clock</h4>
                    <div class="stars">★★★★☆</div>
                    <p class="price">$954.37</p>
                    <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

                    <div class="cart">
                        <input type="number" value="1">
                        <button>ADD TO CART</button>
                    </div>
                </div>

                <div class="product-card">

                    <div class="product-img">
                        <img src="./assets/img/TheFamousOne.jpg" alt="">

                        <div class="product-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                    </div>

                    <h4>Lightweight Concrete Clock</h4>
                    <div class="stars">★★★★☆</div>
                    <p class="price">$954.37</p>
                    <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>

                    <div class="cart">
                        <input type="number" value="1">
                        <button>ADD TO CART</button>
                    </div>
                </div>


            </div>



            <div class="pagination">
                <a href="Shop1.html" class="page active">1</a>
                <a href="Shop2.html" class="page">2</a>
                <a href="Shop3.html" page class="page" ">3</a>
                <a href="Shop2.html" class="page next">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>

        </div>

    </div>
</section>