<section class="latest-posts">
    <h3 class="sidebar-title">Latest Post</h3>
    <hr class="sidebar-line">

    <div class="latest-post-item">
        <img src="./assets/img/Post1.jpg" alt="">
        <div>
            <a class="latest-title" href="#">Summer Is Twice As Nice With Peachy Sangria Wine</a>
            <p class="latest-date">July 2, 2022</p>
        </div>
    </div>

    <div class="latest-post-item">
        <img src="./assets/img/Post2.jpg" alt="">
        <div>
            <a class="latest-title" href="#">Cranberry Wine – A Tradion Worth Sharing</a>
            <p class="latest-date">July 2, 2022</p>
        </div>
    </div>

    <div class="latest-post-item">
        <img src="./assets/img/Post3.jpg" alt="">
        <div>
            <a class="latest-title" href="#">Discussion about the latest trends</a>
            <p class="latest-date">July 2, 2022</p>
        </div>
    </div>

    <div class="latest-post-item">
        <img src="./assets/img/Post4.jpg" alt="">
        <div>
            <a class="latest-title" href="#">Common Problems You Might Encounter When...</a>
            <p class="latest-date">July 2, 2022</p>
        </div>
    </div>
    <div class="latest-post-item">
        <img src="./assets/img/Post5.jpg" alt="">
        <div>
            <a class="latest-title" href="#">Common Problems You Might Encounter When...</a>
            <p class="latest-date">July 2, 2022</p>
        </div>
    </div>
</section>