@using Service.ViewModels.Blog
@model IEnumerable<BlogVM>

<section class="latest-posts">
    <h3 class="sidebar-title">Latest Post</h3>
    <hr class="sidebar-line">

    @foreach (var post in Model)
    {
        <div class="latest-post-item">
            <img src="~/admin/uploads/blogs/@post.Image" alt="@post.Title">

            <div>
                <a class="latest-title"
                   asp-controller="Blog"
                   asp-action="Detail"
                   asp-route-id="@post.Id">
                    @post.Title
                </a>

                <p class="latest-date">
                    @post.CreatedAt.ToString("MMMM dd, yyyy")
                </p>
            </div>
        </div>
    }
</section>
