<section id="slider" class="slider">
    <div class="slide active">
        <img src="~/assets/img/Background4.jpg" alt="">
        <div class="text-box">
            <div class="line small">SPECIAL OFFER END SUMMER</div>
            <div class="line big">BUY 6 BOTTLES</div>
            <div class="line medium">Get a bottle opener!</div>
            <div class="line button"><button>SHOP NOW</button></div>
            <div class="line small note">*offer valid until 23/8</div>
        </div>
    </div>

    <div class="slide">
        <img src="~/assets/img/Background5.jpg" alt="">
        <div class="text-box">
            <div class="line small">TOP SUMMER WINES</div>
            <div class="line big">ANY 3 BOTTLES FOR ONLY $45.95</div>
            <div class="line medium">Taste them all and save with the collection.</div>
            <div class="line button"><button>SHOP NOW</button></div>
        </div>
    </div>

    <div class="arrow left" id="prev">
        <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div class="arrow right" id="next">
        <i class="fa-solid fa-chevron-right"></i>
    </div>
</section>