@using Service.ViewModels.Tag
@model IEnumerable<TagVM>

<section class="tags-section">
    <h3 class="sidebar-title">Tags</h3>
    <hr class="sidebar-line">

    <div class="tags-box">
        @foreach(var tag in Model)
        {
            <span class="tag">@tag.Name</span>
        }
    </div>
</section>