<section id="wine-row">
    <div class="wine-row-container">
        <!-- Product 1 -->
        <div class="wine-card">
            <div class="wine-img">
                <img src="~/assets/img/TheFamousOne.jpg" alt="">
                <div class="wine-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
            <h4>Fantastic Steel Shirt</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$219.74</p>
            <p class="stock out"><i class="fa-solid fa-circle"></i> Out of Stock</p>
            <div class="cart">
                <input type="number" value="1" min="1">
                <button>ADD TO CART</button>
            </div>
        </div>

        <div class="wine-card">
            <div class="wine-img">
                <img src="~/assets/img/Glenmorangie.jpg" alt="">
                <div class="wine-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
            <h4>Durable Steel Pants</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$63.14</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>
            <div class="cart">
                <input type="number" value="1" min="1">
                <button>ADD TO CART</button>
            </div>
        </div>

        <div class="wine-card">
            <div class="wine-img">
                <img src="~/assets/img/DomaineCarneros.jpg" alt="">
                <div class="wine-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
            <h4>Enormous Silk Bottle</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$78.90 – $102.65</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>
            <div class="cart">
                <input type="number" value="1" min="1">
                <button>ADD TO CART</button>
            </div>
        </div>

        <div class="wine-card">
            <div class="wine-img">
                <img src="~/assets/img/FeverTree.jpg" alt="">
                <div class="wine-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
            <h4>Aerodynamic Linen Bench</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$446.29</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>
            <div class="cart">
                <input type="number" value="1" min="1">
                <button>ADD TO CART</button>
            </div>
        </div>

        <div class="wine-card">
            <div class="wine-img">
                <img src="~/assets/img/redwine.jpg" alt="">
                <div class="wine-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
            <h4>Mediocre Granite Watch</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$500.63</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>
            <div class="cart">
                <input type="number" value="1" min="1">
                <button>ADD TO CART</button>
            </div>
        </div>

        <div class="wine-card">
            <div class="wine-img">
                <img src="~/assets/img/bushmills.jpg" alt="">
                <div class="wine-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
            <h4>Rustic Steel Computer</h4>
            <div class="stars">★★★★☆</div>
            <p class="price">$75.95</p>
            <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>
            <div class="cart">
                <input type="number" value="1" min="1">
                <button>ADD TO CART</button>
            </div>
        </div>
    </div>
</section>

