@using Service.Service.Interfaces
@inject IAccountService _accountService

<header>
    <nav class="navbar">
        <div class="nav-left">
            <div class="red-box">
                <img src="~/assets/img/logo-white (2).svg" alt="">
            </div>

            <div class="sidebar-icon">
                <i class="fas fa-bars"></i>
            </div>
            <div id="sidebar-dropdown" class="sidebar-dropdown">
                <ul>
                    <li>
                        <a href="Wine.html">
                            <i class="fa-solid fa-wine-glass"></i> Wine
                        </a>
                    </li>

                    <li>
                        <a href="Beer.html">
                            <i class="fa-solid fa-beer-mug-empty"></i> Beer
                        </a>
                    </li>

                    <li>
                        <a href="Whiskey.html">
                            <i class="fa-solid fa-whiskey-glass"></i> Whiskey
                        </a>
                    </li>

                    <li>
                        <a href="Cogac.html">
                            <i class="fa-solid fa-whiskey-glass"></i> Cognac
                        </a>
                    </li>

                    <li>
                        <a href="Cocktail.html">
                            <i class="fa-solid fa-martini-glass"></i> Cocktail
                        </a>
                    </li>

                    <li>
                        <a href="Tequila.html">
                            <i class="fa-solid fa-bottle-droplet"></i> Tequila
                        </a>
                    </li>
                </ul>
            </div>


            <div class="nav-links">
                <a asp-controller="home" asp-action="index">Home</a>
                <a asp-controller="shop" asp-action="index">Shop</a>
                <a asp-controller="blog" asp-action="index">Blog</a>
                <a asp-controller="contact" asp-action="index">Contact</a>
            </div>
        </div>

        <div class="nav-right">
            <div class="search-icon">
                <i class="fas fa-search"></i>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                var user = await _accountService.GetUserAsync(@User.Identity.Name);
                if (user == null)
                {
                    <div class="auth">
                        <a asp-controller="account" asp-action="login">Login</a> / <a asp-controller="account" asp-action="register">Register</a>
                    </div>
                }
                else
                {
                    <div class="user-panel-account">
                        <div class="container-user-panel">
                            <div class="dropdown b-dropdown lang btn-group">
                                <button type="button" class="btn dropdown-toggle btn-primary user-panel-btn">
                                    <span style="font-weight: 600;" id="userPanelBtn">@user.Name @user.Surname</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" id="userPanelList">
                                    <li class="lang-dropdown">
                                        <a asp-action="profile" asp-controller="account"
                                           class="dropdown-item">
                                            <span>
                                                Profile
                                            </span>
                                        </a>
                                    </li>
                                    <li class="lang-dropdown">
                                        <a href="up-setting.html"
                                           class="dropdown-item"><span>Settings</span></a>
                                    </li>
                                    <li class="lang-dropdown">
                                        <a asp-action="logout" asp-controller="account" class="dropdown-item">
                                            <span>
                                                Logout
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="auth">
                    <a asp-controller="account" asp-action="login">Login</a> / <a asp-controller="account" asp-action="register">Register</a>
                </div>
            }
            <div class="icons-nav">
                <a href="Wishlist.html">
                    <i class="fas fa-heart"></i>
                </a>

                <i class="fas fa-shopping-cart" id="cartIcon"></i>
            </div>


            <div class="cart-sidebar" id="cartSidebar">
                <div class="cart-header">
                    <h3>Shopping cart</h3>
                    <span id="closeCart" class="close-btn">CLOSE ×</span>
                </div>

                <div class="cart-body">
                    <p>No products in the cart.</p>
                </div>
            </div>

            <div class="cart-overlay" id="cartOverlay"></div>
        </div>
    </nav>
</header>