<section id="contact-form-section">
    <div class="contact-container">

        <div class="contact-form">
            <h2>Got Any Questions?</h2>
            <p>Use the form below to get in touch with the sales team</p>

            <form>
                <div class="form-row">
                    <input type="text" placeholder="Name *">
                    <input type="email" placeholder="Email *">
                </div>

                <textarea placeholder="Message"></textarea>

                <button type="submit" class="send-btn">SEND YOUR MESSAGE</button>
            </form>
        </div>

        <div class="contact-image">
            <img src="./assets/img/Contact1.jpg" alt="">
        </div>

    </div>
</section>
