@using Service.DTOs.Category
@model IEnumerable<CategoryVM>

@{
    int? activeCategory = ViewBag.ActiveCategory as int?;
}


<section class="filter-section">
    <h3 class="filter-title">Product Categories</h3>

    <ul class="category-list">
        @foreach (var category in Model)
        {
            <li class="filter-category @(activeCategory == category.Id ? "active" : "")"
                data-category="@category.Id">
                <a href="javascript:void(0)">
                    @category.Name
                </a>
                <span>(@category.Products.Count())</span>
            </li>
        }
    </ul>
</section>



<style>
    .category-list li a {
        color: inherit;
        text-decoration: none;
        display: inline-block;
    }

        .category-list li a:hover {
            color: #b02a37;
        }

    .category-list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>

@section Scripts {
    <script>
               let filter = {
            page: 1
        };

        function loadProducts() {
            fetch('/Shop/Filter?' + new URLSearchParams(filter))
                .then(res => res.text())
                .then(html => {
                    document.querySelector('.products-area-wrapper').innerHTML = html;
                });
        }

        document.addEventListener('click', function (e) {

            const category = e.target.closest('.filter-category');
            if (category) {
                filter.categoryId = category.dataset.category;
                filter.page = 1;
                loadProducts();
            }

            const pageBtn = e.target.closest('.page-btn');
            if (pageBtn) {
                filter.page = pageBtn.dataset.page;
                loadProducts();
            }

        });


    </script>
}