<section id="page-header">
    <div class="page-header-content">
        <h1>Blog</h1>

        <p class="breadcrumb">
            <a href="#">Home Page</a> <span>›</span>
            <span>Blog</span>
        </p>
    </div>
</section>



<section id="blog-page">

    <div class="blog-layout">
        <div class="blog-left">

            <div class="blog-post">
                <div class="blog-main-img-box">
                    <img src="./assets/img/Blog1.jpg" alt="" class="blog-main-img">
                </div>
                <div class="blog-meta">
                    <span class="category">COCKTAIL , TIPS & TRICK</span>
                </div>

                <h2 class="blog-title">Summer Is Twice As Nice With Peachy Sangria Wine</h2>

                <div class="blog-info">
                    <span>July 4, 2022</span> /
                    <span>3 Comments</span> /
                    <span>By Admin</span>
                </div>

                <p class="blog-text">
                    Peachy Sangria wine is a light and fresh blend of award-winning St. James Winery Peach,
                    Raspberry,
                    and Moscato wines, and it has returned just in time for summertime sipping.
                    In each bottle of Peachy Sangria, you’ll enjoy aromas and flavors of freshly sliced
                    peaches and juicy Moscato with a touch of raspberry on the finish.
                </p>

                <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>






            <div class="blog-post">
                <div class="blog-main-img-box">
                    <img src="./assets/img/Blog3.jpg" alt="" class="blog-main-img">
                </div>
                <div class="blog-meta">
                    <span class="category">Social Media,Spirits</span>
                </div>

                <h2 class="blog-title">Cranberry Wine – A Tradion Worth Sharing</h2>

                <div class="blog-info">
                    <span>July 4, 2022</span> /
                    <span>3 Comments</span> /
                    <span>By Admin</span>
                </div>

                <p class="blog-text">
                    Peachy Sangria wine is a light and fresh blend of award-winning St. James Winery Peach,
                    Raspberry,
                    and Moscato wines, and it has returned just in time for summertime sipping.
                    In each bottle of Peachy Sangria, you’ll enjoy aromas and flavors of freshly sliced
                    peaches and juicy Moscato with a touch of raspberry on the finish.
                </p>

                <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>




            <div class="blog-post">
                <div class="blog-main-img-box">
                    <img src="./assets/img/Blog4.jpg" alt="" class="blog-main-img">
                </div>
                <div class="blog-meta">
                    <span class="category">Lifestyle,Spirits</span>
                </div>

                <h2 class="blog-title">Discussion about the latest trends</h2>

                <div class="blog-info">
                    <span>July 4, 2022</span> /
                    <span>3 Comments</span> /
                    <span>By Admin</span>
                </div>

                <p class="blog-text">
                    Peachy Sangria wine is a light and fresh blend of award-winning St. James Winery Peach,
                    Raspberry,
                    and Moscato wines, and it has returned just in time for summertime sipping.
                    In each bottle of Peachy Sangria, you’ll enjoy aromas and flavors of freshly sliced
                    peaches and juicy Moscato with a touch of raspberry on the finish.
                </p>

                <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>




            <div class="blog-post">
                <div class="blog-main-img-box">
                    <img src="./assets/img/Blog5.jpg" alt="" class="blog-main-img">
                </div>
                <div class="blog-meta">
                    <span class="category">Spirits,Vineyards</span>
                </div>

                <h2 class="blog-title">Common Problems You Might Encounter When Remodeling</h2>

                <div class="blog-info">
                    <span>July 4, 2022</span> /
                    <span>3 Comments</span> /
                    <span>By Admin</span>
                </div>

                <p class="blog-text">
                    Peachy Sangria wine is a light and fresh blend of award-winning St. James Winery Peach,
                    Raspberry,
                    and Moscato wines, and it has returned just in time for summertime sipping.
                    In each bottle of Peachy Sangria, you’ll enjoy aromas and flavors of freshly sliced
                    peaches and juicy Moscato with a touch of raspberry on the finish.
                </p>

                <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>





            <div class="blog-post">
                <div class="blog-main-img-box">
                    <img src="./assets/img/Blog6.jpg" alt="" class="blog-main-img">
                </div>
                <div class="blog-meta">
                    <span class="category">Uncategorized,Vineyards</span>
                </div>

                <h2 class="blog-title">Make A Statement With Cabinet Hardware</h2>

                <div class="blog-info">
                    <span>July 4, 2022</span> /
                    <span>3 Comments</span> /
                    <span>By Admin</span>
                </div>

                <p class="blog-text">
                    Peachy Sangria wine is a light and fresh blend of award-winning St. James Winery Peach,
                    Raspberry,
                    and Moscato wines, and it has returned just in time for summertime sipping.
                    In each bottle of Peachy Sangria, you’ll enjoy aromas and flavors of freshly sliced
                    peaches and juicy Moscato with a touch of raspberry on the finish.
                </p>

                <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>





            <div class="blog-post">
                <div class="blog-main-img-box">
                    <img src="./assets/img/Blog7.jpg" alt="" class="blog-main-img">
                </div>
                <div class="blog-meta">
                    <span class="category">Lifestyle,Tips & Trick</span>
                </div>

                <h2 class="blog-title">Before and After Traditional Mixed Metal Kitchen Remodel</h2>

                <div class="blog-info">
                    <span>July 4, 2022</span> /
                    <span>3 Comments</span> /
                    <span>By Admin</span>
                </div>

                <p class="blog-text">
                    Peachy Sangria wine is a light and fresh blend of award-winning St. James Winery Peach,
                    Raspberry,
                    and Moscato wines, and it has returned just in time for summertime sipping.
                    In each bottle of Peachy Sangria, you’ll enjoy aromas and flavors of freshly sliced
                    peaches and juicy Moscato with a touch of raspberry on the finish.
                </p>

                <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>



            <div class="blog-post">
                <div class="blog-main-img-box">
                    <img src="./assets/img/Blog8.jpg" alt="" class="blog-main-img">
                </div>
                <div class="blog-meta">
                    <span class="category">Cocktail,Tips & Trick</span>
                </div>

                <h2 class="blog-title">How To Choose A Paint Color For Your Walls When Remodeling</h2>

                <div class="blog-info">
                    <span>July 4, 2022</span> /
                    <span>3 Comments</span> /
                    <span>By Admin</span>
                </div>

                <p class="blog-text">
                    Peachy Sangria wine is a light and fresh blend of award-winning St. James Winery Peach,
                    Raspberry,
                    and Moscato wines, and it has returned just in time for summertime sipping.
                    In each bottle of Peachy Sangria, you’ll enjoy aromas and flavors of freshly sliced
                    peaches and juicy Moscato with a touch of raspberry on the finish.
                </p>

                <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>





            <div class="blog-post">
                <div class="blog-main-img-box">
                    <img src="./assets/img/Blog9.jpg" alt="" class="blog-main-img">
                </div>
                <div class="blog-meta">
                    <span class="category">Social Media,Vineyards</span>
                </div>

                <h2 class="blog-title">The Hesitant Homeowner – What Makes Us Delay Remodeling?</h2>

                <div class="blog-info">
                    <span>July 4, 2022</span> /
                    <span>3 Comments</span> /
                    <span>By Admin</span>
                </div>

                <p class="blog-text">
                    Peachy Sangria wine is a light and fresh blend of award-winning St. James Winery Peach,
                    Raspberry,
                    and Moscato wines, and it has returned just in time for summertime sipping.
                    In each bottle of Peachy Sangria, you’ll enjoy aromas and flavors of freshly sliced
                    peaches and juicy Moscato with a touch of raspberry on the finish.
                </p>

                <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>




            <div class="blog-post">
                <div class="blog-main-img-box">
                    <img src="./assets/img/Blog10.jpg" alt="" class="blog-main-img">
                </div>
                <div class="blog-meta">
                    <span class="category">Tequila,Tips & Trick</span>
                </div>

                <h2 class="blog-title">The Pros and Cons of Large Format Porcelain</h2>

                <div class="blog-info">
                    <span>July 4, 2022</span> /
                    <span>3 Comments</span> /
                    <span>By Admin</span>
                </div>

                <p class="blog-text">
                    Peachy Sangria wine is a light and fresh blend of award-winning St. James Winery Peach,
                    Raspberry,
                    and Moscato wines, and it has returned just in time for summertime sipping.
                    In each bottle of Peachy Sangria, you’ll enjoy aromas and flavors of freshly sliced
                    peaches and juicy Moscato with a touch of raspberry on the finish.
                </p>

                <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>



            <div class="blog-post">
                <div class="blog-main-img-box">
                    <img src="./assets/img/Blog11.jpg" alt="" class="blog-main-img">
                </div>
                <div class="blog-meta">
                    <span class="category">Social Media,Vineyards</span>
                </div>

                <h2 class="blog-title">Hundreds of professionals across the world</h2>

                <div class="blog-info">
                    <span>July 4, 2022</span> /
                    <span>3 Comments</span> /
                    <span>By Admin</span>
                </div>

                <p class="blog-text">
                    Peachy Sangria wine is a light and fresh blend of award-winning St. James Winery Peach,
                    Raspberry,
                    and Moscato wines, and it has returned just in time for summertime sipping.
                    In each bottle of Peachy Sangria, you’ll enjoy aromas and flavors of freshly sliced
                    peaches and juicy Moscato with a touch of raspberry on the finish.
                </p>

                <a href="#" class="read-more">Read More <i class="fa-solid fa-arrow-right"></i></a>
            </div>











            <div class="pagination">
                <a href="Shop1.html" class="page active">1</a>
                <a href="Shop2.html" class="page">2</a>
                <a href=" Shop2.html" class="page next">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>

        </div>



        <aside class="blog-sidebar">

            <div class="sidebar-box about-box">
                <img src="./assets/img/Blog2.jpg" alt="">
                <h3>About Our Company</h3>
                <p>
                    Liquory’s largest winery crafting a variety of sweet to dry wines that reflect
                    our unique growing region.
                </p>
                <a href="#" class="shop-now">Shop Wine Now <i class="fa-solid fa-arrow-right"></i></a>
            </div>

            <div class="sidebar-box search-box">
                <input type="text" placeholder="Search …">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

            <div class="sidebar-box categories-box">
                <h3>Blogs Categories</h3>

                <ul class="category-list">
                    <li>Cocktail <span>(2)</span></li>
                    <li>Lifestyle <span>(2)</span></li>
                    <li>Social Media <span>(3)</span></li>
                    <li>Spirits <span>(3)</span></li>
                    <li>Tequila <span>(1)</span></li>
                    <li>Tips & Trick <span>(4)</span></li>
                    <li>Uncategorized <span>(2)</span></li>
                    <li>Vineyards <span>(4)</span></li>

                </ul>
            </div>




            <section class="tags-section">
                <h3 class="sidebar-title">Tags</h3>
                <hr class="sidebar-line">

                <div class="tags-box">
                    <span class="tag">Beer</span>
                    <span class="tag">Beverages</span>
                    <span class="tag">Liqueur</span>
                    <span class="tag">Luxury Drinks</span>
                    <span class="tag">Miniatures</span>
                    <span class="tag">Rum</span>
                    <span class="tag">Tequila</span>
                    <span class="tag">Vodka</span>
                    <span class="tag">Whiskey</span>
                    <span class="tag">Vineyards</span>
                </div>
            </section>







            <section class="latest-posts">
                <h3 class="sidebar-title">Latest Post</h3>
                <hr class="sidebar-line">

                <div class="latest-post-item">
                    <img src="./assets/img/Post1.jpg" alt="">
                    <div>
                        <a class="latest-title" href="#">Summer Is Twice As Nice With Peachy Sangria Wine</a>
                        <p class="latest-date">July 2, 2022</p>
                    </div>
                </div>

                <div class="latest-post-item">
                    <img src="./assets/img/Post2.jpg" alt="">
                    <div>
                        <a class="latest-title" href="#">Cranberry Wine – A Tradion Worth Sharing</a>
                        <p class="latest-date">July 2, 2022</p>
                    </div>
                </div>

                <div class="latest-post-item">
                    <img src="./assets/img/Post3.jpg" alt="">
                    <div>
                        <a class="latest-title" href="#">Discussion about the latest trends</a>
                        <p class="latest-date">July 2, 2022</p>
                    </div>
                </div>

                <div class="latest-post-item">
                    <img src="./assets/img/Post4.jpg" alt="">
                    <div>
                        <a class="latest-title" href="#">Common Problems You Might Encounter When...</a>
                        <p class="latest-date">July 2, 2022</p>
                    </div>
                </div>

                <div class="latest-post-item">
                    <img src="./assets/img/Post5.jpg" alt="">
                    <div>
                        <a class="latest-title" href="#">Common Problems You Might Encounter When...</a>
                        <p class="latest-date">July 2, 2022</p>
                    </div>
                </div>
            </section>



            <section class="best-banner-box">
                <h3 class="sidebar-title">Banner</h3>
                <hr class="sidebar-line">
                <div class="banner-content">
                    <h3>READY TO DRINK</h3>
                    <h2>Organic Wine</h2>
                    <p class="from">From to</p>
                    <p class="price">$69.99</p>
                </div>

                <img src="./assets/img/Banner2-1.jpg" alt="">
            </section>


        </aside>

    </div>

</section>