@await Component.InvokeAsync("BlogHeader")

<section id="blog-page">
    <div class="blog-layout">

        @await Component.InvokeAsync("BlogPosts")

        <aside class="blog-sidebar">

            @await Component.InvokeAsync("BlogSideBar")

            @await Component.InvokeAsync("BlogTags")

            @await Component.InvokeAsync("LatestPosts")

            @await Component.InvokeAsync("BlogBestBanner")
        </aside>
    </div>
</section>


@section scripts {
    <script src="~/assets/js/Blog.js"></script>
}