<section id="history">
    <div class="history-bg">
        <img src="~/assets/img/Background1.jpeg" alt="">
    </div>

    <div class="history-content">
        <div class="text-side">
            <p class="story">THE LIQUORY’S STORY</p>
            <h2>HISTORY AND TRADITION OF<br>OUR COMPANY</h2>
            <p class="desc">
                At Liquory we connect customers, suppliers and drinks brands to offer
                you customized recommendations, as well as exclusive products, offers
                and services both in store & online.
            </p>
            <button class="discover-btn">DISCOVER MORE</button>
        </div>

        <div class="timeline">
            <div class="year-card">
                <div class="year" data-year="1984">0</div>
                <h3>Pernod Ricard acquires Uvinum</h3>
                <p>Europe's No.1 marketplace for wine, beer, spirits and gourmet products.</p>
            </div>

            <div class="year-card">
                <div class="year" data-year="1996">0</div>
                <h3>Pernod Ricard acquires Bodeboca</h3>
                <p>Spain's leading wine e-commerce platform.</p>
            </div>

            <div class="year-card">
                <div class="year" data-year="2008">0</div>
                <h3>Uvinum becomes Liquory, Opening of concept stores</h3>
                <p>With a new website, new technology and a great team.</p>
            </div>

            <div class="year-card">
                <div class="year" data-year="2022">0</div>
                <h3>Opening of own warehouses in France and Italy</h3>
                <p>Europe's No.1 marketplace for wine, beer, spirits and gourmet products.</p>
            </div>
        </div>
    </div>
</section>

