<div class="sidebar-box about-box">
    <img src="./assets/img/Blog2.jpg" alt="">
    <h3>About Our Company</h3>
    <p>
        Liquory’s largest winery crafting a variety of sweet to dry wines that reflect
        our unique growing region.
    </p>
    <a href="#" class="shop-now">Shop Wine Now <i class="fa-solid fa-arrow-right"></i></a>
</div>

<div class="sidebar-box search-box">
    <input type="text" placeholder="Search …">
    <button><i class="fa-solid fa-magnifying-glass"></i></button>
</div>

<div class="sidebar-box categories-box">
    <h3>Blogs Categories</h3>

    <ul class="category-list">
        <li>Cocktail <span>(2)</span></li>
        <li>Lifestyle <span>(2)</span></li>
        <li>Social Media <span>(3)</span></li>
        <li>Spirits <span>(3)</span></li>
        <li>Tequila <span>(1)</span></li>
        <li>Tips & Trick <span>(4)</span></li>
        <li>Uncategorized <span>(2)</span></li>
        <li>Vineyards <span>(4)</span></li>

    </ul>
</div>
