@using Service.ViewModels.Brand
@model IEnumerable<BrandVM>

<section id="brand-logos">
    <div class="brand-container">
        @foreach(var brandLogo in Model)
        {
            <img src="~/admin/uploads/brands/@brandLogo.Image" alt="">
        }
    </div>
</section>
