<section id="brand-logos">
    <div class="brand-container">
        <img src="~/assets/img/WineLogo.jpg" alt="">
        <img src="~/assets/img/CocktailLogo.webp" alt="">
        <img src="~/assets/img/TequilaLogo.jpg" alt="">
        <img src="~/assets/img/AlcoholLogo.webp" alt="">
        <img src="~/assets/img/WineClubLogo.webp" alt="">
        <img src="~/assets/img/VodkaLogo.webp" alt="">
        <img src="~/assets/img/CocktailLogo2.jpg" alt="">
        <img src="~/assets/img/BourbonLogo.jpg" alt="">
    </div>
</section>
