<section id="offers">
    <div class="offer-container">
        <div class="offer-card beer">
            <div class="offer-bg"></div>
            <div class="offer-img">
                <img src="~/assets/img/Offer1.jpeg" alt="">
            </div>
            <div class="offer-text">
                <p class="small">HAPPY SUMMER 2022</p>
                <h2><span>STRONG BEER</span><br>SWEET TASTE</h2>
                <p class="desc">Good beer right here!</p>
                <button>SHOP NOW</button>
            </div>
            <div class="circle save">
                <p>Save<br><span>30%</span></p>
            </div>
        </div>


        <div class="offer-card wine">
            <div class="offer-bg"></div>
            <div class="offer-img">
                <img src="~/assets/img/Offer2.jpeg" alt="">
            </div>
            <div class="offer-text">
                <h2>LET’S HAVE<br>A TASTE OF<br>SUMMER</h2>
                <p>From to <span class="price">$69.99</span></p>
                <button>SHOP NOW</button>
            </div>
        </div>


        <div class="offer-card whitewine">
            <div class="offer-bg"></div>
            <div class="offer-img">
                <img src="~/assets/img/Offer3.jpeg" alt="">
            </div>
            <div class="offer-text">
                <h2>FRENCH<br>WHITE WINE</h2>
                <p>Father’s Day Sale<br>40% off Sitewide!</p>
                <button>SHOP NOW</button>
            </div>
            <div class="circle price">
                <p>Price<br><span>$19.99</span></p>
            </div>
        </div>

    </div>
</section>
