<section id="shop">
    <div class="shop-header">
        <div class="shop-text">
            <h2>Shop your favorite drinks</h2>
            <p>
                Explore the wide selection of new, limited products |
                <a href="#">View All <i class="fa-solid fa-arrow-right"></i></a>
            </p>
        </div>
        <div class="shop-tabs">
            <a href="#" class="active">Best Seller</a>
            <a href="#">Sales</a>
            <a href="#">Featured</a>
            <a href="#">New Products</a>
        </div>
    </div>

    <div class="shop-container">
        <div class="shop-card">
            <div class="discount">-9%</div>
            <div class="shop-img">
                <img src="~/assets/img/PRVA.jpg" alt="">
                <div class="shop-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
            <div class="shop-info">
                <h3>Small Cotton Watch</h3>
                <div class="stars">★★★★☆</div>
                <div class="price">
                    <span class="new">$899.50</span>
                    <span class="old">$991.80</span>
                </div>
                <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>
                <div class="cart">
                    <input type="number" value="1" min="1">
                    <button>ADD TO CART</button>
                </div>
            </div>
        </div>

        <div class="shop-card">
            <div class="shop-img">
                <img src="~/assets/img/Bushmills.jpg" alt="">
                <div class="shop-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
            <div class="shop-info">
                <h3>Rustic Steel Computer</h3>
                <div class="stars">★★★★★</div>
                <div class="price">
                    <span class="new">$75.95</span>
                </div>
                <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>
                <div class="cart">
                    <input type="number" value="1" min="1">
                    <button>ADD TO CART</button>
                </div>
            </div>
        </div>

        <div class="shop-card">
            <div class="shop-img">
                <img src="~/assets/img/RedWine.jpg" alt="">
                <div class="shop-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
            <div class="shop-info">
                <h3>Mediocre Granite Watch</h3>
                <div class="stars">★★★★☆</div>
                <div class="price">
                    <span class="new">$500.63</span>
                </div>
                <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>
                <div class="cart">
                    <input type="number" value="1" min="1">
                    <button>ADD TO CART</button>
                </div>
            </div>
        </div>

        <div class="shop-card">
            <div class="shop-img">
                <img src="~/assets/img/Prosecco.jpg" alt="">
                <div class="shop-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
            <div class="shop-info">
                <h3>Incredible Granite Chair</h3>
                <div class="stars">★★★★★</div>
                <div class="price">
                    <span class="new">$877.97</span>
                </div>
                <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>
                <div class="cart">
                    <input type="number" value="1" min="1">
                    <button>ADD TO CART</button>
                </div>
            </div>
        </div>

        <div class="shop-card">
            <div class="shop-img">
                <img src="~/assets/img/JackDanielsKind.jpg" alt="">
                <div class="shop-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
            <div class="shop-info">
                <h3>Ergonomic Copper Shirt</h3>
                <div class="stars">★★★★☆</div>
                <div class="price">
                    <span class="new">$920.54</span>
                </div>
                <p class="stock"><i class="fa-solid fa-circle"></i> In Stock</p>
                <div class="cart">
                    <input type="number" value="1" min="1">
                    <button>ADD TO CART</button>
                </div>
            </div>
        </div>

        <div class="shop-card">
            <div class="shop-img">
                <img src="~/assets/img/JackDanielsMain.jpg" alt="">
                <div class="shop-icons">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
            <div class="shop-info">
                <h3>Enormous Iron Gloves</h3>
                <div class="stars">★★★★☆</div>
                <div class="price">
                    <span class="new">$60.10</span>
                </div>
                <p class="stock out"><i class="fa-solid fa-circle"></i> Out of Stock</p>
                <div class="cart">
                    <input type="number" value="1" min="1">
                    <button>ADD TO CART</button>
                </div>
            </div>
        </div>
    </div>
</section>
