<section id="shop">

    <div class="shop-header">
        <div class="shop-text">
            <h2>Shop your favorite drinks</h2>
            <p>
                Explore the wide selection of new, limited products |
                <a href="#">View All <i class="fa-solid fa-arrow-right"></i></a>
            </p>
        </div>

        <div class="shop-tabs">
            <a href="#" data-tab="bestseller" class="active">Best Seller</a>
            <a href="#" data-tab="sales">Sales</a>
            <a href="#" data-tab="featured">Featured</a>
            <a href="#" data-tab="new">New Products</a>
        </div>
    </div>

    <div class="shop-container" id="shop-products-area">
        @await Component.InvokeAsync("ShopProducts", new { tab = "bestseller" })
    </div>

</section>
