@using Service.ViewModels.Tag
@model TagVM

<div class="container" style="margin-top:40px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <p><strong>Name:</strong> @Model.Name</p>
            <p><strong>Created at:</strong> @Model.CreatedDate.ToString("dd.MM.yyyy HH:mm")</p>

            <a asp-controller="Tag" asp-action="Index" class="btn btn-secondary">Return to tags</a>
            <a asp-controller="Tag" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        </div>
    </div>
</div>

