<section id="page-header">
    <div class="page-header-content">
        <h1>Shop</h1>

        <p class="breadcrumb">
            <a href="#">Home Page</a> <span>›</span>
            <a href="#">Shop</a> <span>›</span>
            <span>Wine</span>
        </p>
    </div>
</section>
