<section class="filter-section">
    <h3 class="filter-title">Filter By Price</h3>

    <div class="price-filter">
        <input type="range" min="70" max="960" value="800">

        <div class="filter-footer">
            <p class="price-range">Price: $70 — $960</p>
            <a href="#" class="filter-link">Filter →</a>
        </div>
    </div>
</section>