<section class="filter-section">
    <h3 class="filter-title">Filter By Tags</h3>
    <hr class="filter-line">

    <div class="tag-box">
        <span class="tag">Beer</span>
        <span class="tag">Beverages</span>
        <span class="tag">Liqueur</span>
        <span class="tag">Luxury Drinks</span>
        <span class="tag">Miniatures</span>
        <span class="tag">Rum</span>
        <span class="tag">Tequila</span>
        <span class="tag">Vodka</span>
        <span class="tag">Whiskey</span>
    </div>
</section>
