@model IEnumerable<Service.ViewModels.Review.ReviewVM>

<section id="reviews">
    <div class="reviews-top">
        <div class="reviews-header">
            <h2>Real customers review</h2>
            <p>Here’s what our customers are saying about us.</p>
        </div>
        <div class="nav-btns">
            <div class="review-arrow" id="review-prev">
                <i class="fa-solid fa-chevron-left"></i>
            </div>
            <div class="review-arrow" id="review-next">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
    </div>

    <div class="reviews-container">
        <div class="reviews-wrapper">

            @foreach (var item in Model)
            {
                <div class="review">

                    <div class="stars">
                        @{
                            for (int i = 0; i < item.Rating; i++)
                            {
                                <span>★</span>
                            }
                            for (int i = item.Rating; i < 5; i++)
                            {
                                <span>☆</span>
                            }
                        }
                    </div>

                    <p>“@item.Text”</p>

                    <div class="user">
                        <img src="~/admin/uploads/users/@item.AppUser.Image" alt="@item.AppUser.FullName">

                        <div class="info">
                            <h4>@item.AppUser.FullName</h4>
                            <span><i class="fa-solid fa-check"></i> VERIFIED PURCHASE</span>
                        </div>
                    </div>

                </div>
            }

        </div>
    </div>
</section>
